body {margin:0; padding:0; font:24px/30px "NissanAGRegular", sans-serif; color:#fff; background:#000}

a {color:#fff; text-decoration:none; outline:none}

img {border:none}

.wrapper {width:100%; position:relative; overflow:hidden}

.about {background:url(../images/index-about.jpg) no-repeat center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover}
.about-inner {max-width:920px; margin:0 auto; padding:0 0 50px 0}
.about-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.about-content {float:right; width:50%; padding:0 45px 0 0; }
.about-text {text-shadow:0 0 68px rgba(18, 21, 26, .35); padding:71px 0 0 0; position:relative}
.about-text p {margin:0; padding:0 0 20px 0}
.about-text strong {font-family:NissanAGBold, sans-serif; text-transform:uppercase}
.about-links {font:19px/53px NissanAGBold, sans-serif; text-transform:uppercase; padding:31px 0 0 0}
.about-links:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.about-links a {float:left; width:201px; height:53px; text-align:center; background:#c1122e; margin:0 20px 0 0}
.about-tags {font:18px/22px NissanAGBold, sans-serif; text-transform:uppercase; text-shadow:2px 0 2px rgba(0, 0, 0, .27); padding:80px 0 0 0}
.about-logout {position:absolute; right:0; top:26px; font:14px/16px NissanAGLight, sans-serif}
.about-logout a {display:inline-block; color:#8a8888; position:relative}
.about-logout a:after {content:""; display:block; width:7px; height:8px; background:url(../images/logout.png); position:absolute; right:-14px; top:5px}
.about-logout a:hover {text-decoration:underline}

@media (max-width:768px) {
    .about {background-image:url(../images/index-about-mobile.jpg); font-size:16px; line-height:21px}
    .about-inner {padding:18px 0 0 0}
    .about-content {float:none; width:auto; padding:0 25px}
    .about-text {padding:0}
    .about-text p {padding:0 0 7px 0}
    .about-logout {position:relative; right:auto; top:auto; padding:0 0 21px 0; text-align:right}

    .about-links {font-size:14px; line-height:35px; padding:0}
    .about-links a {float:none; display:block; width:100%; height:35px; margin:0 0 10px 0}

    .about-tags {font-size:12px; padding:16px 0}

}