body {margin:0; padding:0; font:24px/30px "NissanAGRegular", sans-serif; color:#fff; background:#000}

a {color:#fff; text-decoration:none; outline:none}

img {border:none}

.wrapper {width:100%; position:relative; overflow:hidden}

header {position:relative; background:url(../images/index-header.jpg) no-repeat center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover}

.header-text {margin:0 auto; max-width:890px; padding:114px 15px 107px 15px; text-transform:uppercase}
.header-text-1 {font:50px/60px NissanAGLight, sans-serif}
.header-text-2 {font-size:26px; line-height:32px; text-shadow:1px 0 13px rgba(0, 0, 0, .35); padding:19px 100px 0 0}
.header-text-2 strong {font:26px/32px NissanAGBold, sans-serif}

.logo {position:absolute; left:46px; top:25px; line-height:0; width:36%}
.logo img {width:100%; max-width:233px; min-width:116px}

nav {position:relative; background:#181818 url(../images/nav.png) no-repeat center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; border-bottom:3px solid #c1122e; height:64px; text-align:center; font:14px/64px NissanAGBold, sans-serif; text-transform:uppercase}
nav ul {display:table; margin:0 auto; padding:0; list-style:none; max-width:920px}
nav ul li {display:table-cell; margin:0; padding:0}
nav ul li div {display:table-cell; width:1000px; text-align:center}
nav ul li a:hover {text-decoration:underline}

.about {background:url(../images/index-about.jpg) no-repeat center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover}
.about-inner {max-width:920px; margin:0 auto; padding:0 0 50px 0}
.about-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.about-content {float:right; width:50%; padding:0 45px 0 0; }
.about-text {text-shadow:0 0 68px rgba(18, 21, 26, .35); padding:71px 0 0 0; position:relative}
.about-text p {margin:0; padding:0 0 20px 0}
.about-text strong {font-family:NissanAGBold, sans-serif; text-transform:uppercase}
.about-links {font:19px/53px NissanAGBold, sans-serif; text-transform:uppercase; padding:31px 0 0 0}
.about-links:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.about-links a {float:left; width:201px; height:53px; text-align:center; background:#c1122e; margin:0 20px 0 0}
.about-tags {font:18px/22px NissanAGBold, sans-serif; text-transform:uppercase; text-shadow:2px 0 2px rgba(0, 0, 0, .27); padding:80px 0 0 0}
.about-logout {position:absolute; right:0; top:26px; font:14px/16px NissanAGLight, sans-serif}
.about-logout a {display:inline-block; color:#8a8888; position:relative}
.about-logout a:after {content:""; display:block; width:7px; height:8px; background:url(../images/logout.png); position:absolute; right:-14px; top:5px}
.about-logout a:hover {text-decoration:underline}

.rules {background:#181818 url(../images/rules.png) no-repeat center top; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; text-align:center; text-transform:uppercase}
.rules-text {font-size:18px; line-height:18px; padding:64px 0 0 0}
.rules-link {padding:31px 0 54px 0}
.rules-link a {display:inline-block; width:275px; height:53px; background:#c1122e; font:19px/53px NissanAGBold, sans-serif}

.winners {background:#fff url(../images/index-winners.jpg) no-repeat center top; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover}
.winners-title {text-align:center; color:#c1122e; font:34px/34px NissanAGBold, sans-serif; text-transform:uppercase; padding:58px 0 0 0}
.winners-list {max-width:700px; margin:0 auto; font-size:20px; line-height:24px; text-transform:uppercase; color:#505050; padding:52px 0 62px 0}
.winners-list:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.winners-list ul {float:right; width:320px; margin:0; padding:0; list-style:none}
.winners-list ul:first-child {float:left}
.winners-list ul li {margin:0; padding:0 0 24px 0}
.winners-list ul li span {font:18px/24px NissanAGLight, sans-serif; color:#c1122e}

.top {position:relative; z-index:2; display:none}
.top-menu {display:none}

@media (max-width:768px) {
    .logo {left:25px}

    .header-text {padding:120px 25px 130px 25px}
    .header-text-1 {font-size:22px; line-height:26px}
    .header-text-2 {font-size:12px; line-height:19px; padding-right:0}
    .header-text-2 strong {font-size:12px; line-height:19px}

    .about {background-image:url(../images/index-about-mobile.jpg); font-size:16px; line-height:21px}
    .about-inner {padding:18px 0 0 0}
    .about-content {float:none; width:auto; padding:0 25px}
    .about-text {padding:0}
    .about-text p {padding:0 0 7px 0}
    .about-logout {position:relative; right:auto; top:auto; padding:0 0 21px 0; text-align:right}

    .about-links {font-size:14px; line-height:35px; padding:0}
    .about-links a {float:none; display:block; width:100%; height:35px; margin:0 0 10px 0}

    .about-tags {font-size:12px; padding:16px 0}

    .rules-text {font-size:14px; line-height:20px; text-align:left; padding:38px 45px 0 45px}
    .rules-link {padding:25px 25px 36px 25px}
    .rules-link a {width:100%; height:35px; font-size:14px; line-height:35px}

    .winners {padding:0 40px 0 40px}
    .winners-title {text-align:left; font-size:18px; line-height:18px}
    .winners-list {font-size:14px; line-height:18px; padding:37px 0 57px 0}
    .winners-list ul {float:none; width:auto}
    .winners-list ul:first-child {float:none}
    .winners-list ul li {padding:0 0 13px 0}
    .winners-list ul li span {font-size:13px; line-height:18px}

    nav {display:none}

    .top {display:block; height:43px; background:#fff}
    .top-logo {position:absolute; left:10px; top:0; width:43px; line-height:0}
    .top-logo img {width:100%}
    .top-title {color:#000; text-transform:uppercase; position:absolute; left:63px; top:10px; font:18px/18px NissanAGMiddle, sans-serif}
    .top-nav {display:block; position:absolute; right:0; top:0; width:50px; height:100%; cursor:pointer; background:url(../images/top-nav.png) no-repeat center; border-left:1px solid #e8e8e8}

    .top-menu {position:relative; background:#181818; border-bottom:3px solid #c1122e; text-align:center; font:14px/18px NissanAGBold, sans-serif; text-transform:uppercase}
    .top-menu ul {margin:0; padding:0; list-style:none}
    .top-menu ul li {margin:0; padding:0; border-top:1px solid #c1122e}
    .top-menu ul li a {display:block; padding:10px 0}
    .top-menu ul li a:hover {text-decoration:underline}
}

@media (max-width:480px) {
    header {background-image:url(../images/index-header-mobile.jpg)}
    .header-text {padding:90px 25px 130px 25px}
}