html {height:100%}

body {height:100%; margin:0; padding:0; font:24px/24px "NissanAGBold", sans-serif; color:#c30b29; background:#fff; text-transform:uppercase; text-align:center}

a {color:#fff; text-decoration:none; outline:none; display:block; background:#c30b29; width:436px; height:52px; font-size:19px; line-height:52px; margin:0 auto}

img {border:none}

.wrapper {width:100%; min-height:100%; position:relative; overflow:hidden; background:url(../images/success-bg.jpg) no-repeat center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover}
.wrapper-inner {position:absolute; left:0; bottom:115px; width:100%}

.text {padding:0 0 35px 0}

@media (max-width:800px) {
    body {font-size:18px; line-height:18px}

    a {font-size:17px; width:333px}

    .wrapper {background-image:url(../images/success-bg-tablet.jpg)}
    .wrapper-inner {bottom:95px}
}

@media (max-width:480px) {
    body {font-size:15px}

    a {width:270px; font-size:15px}

    .wrapper {background-image:url(../images/success-bg-mobile.jpg)}
    .wrapper-inner {bottom:75px}
}